.article-heading {
  color: #263238;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
}

.article-heading-title {
  color: #1645ec;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.article-title {
  color: #263238;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 60px */
}
