.bg-hero {
  background: url("/CaseStudyPageTop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-heading1 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 28.8px */
}

.section-heading2 {
  color: #f3f4f8;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 89.6px */
}

.para {
  color: #1e1e1e;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
